# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=postgresql://neondb_owner:npg_QrsZnaRoJ0L8@ep-lucky-violet-ao0mt6qu-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_QrsZnaRoJ0L8@ep-lucky-violet-ao0mt6qu-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_QrsZnaRoJ0L8@ep-lucky-violet-ao0mt6qu.c-2.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-lucky-violet-ao0mt6qu-pooler.c-2.ap-southeast-1.aws.neon.tech
POSTGRES_PASSWORD=npg_QrsZnaRoJ0L8
POSTGRES_DATABASE=neondb

# `openssl rand -base64 32`
AUTH_SECRET=5At+H+c9Ct280wFFTMXbaq7mg8AwkKDv16jZTa68JbY=
AUTH_URL=http://localhost:3000/api/auth